{% extends "layout.jinja" %} {% block header %}
<h1>Bonjour ca'va? C'est la vraiment Strata Czasu...</h1>
{% endblock %} {% block content %}
<p>Salut les gens... Jak się masz?</p>
<h2>Witajcie w moim świecie...</h2>
<div class="lorem">

</div>
{% endblock %}